.primeiraSectionInicio{
    background-image: url(../../assets/imgbackgroudinicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 76vh;
    display: flex;
    align-items: center;

    h2{
        color: #fff;
        font-size: 32px;
        width: 25%;
        padding-left: 6%;
    }
}



.porqueDoarDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 94vh;

    h2{
        color: #005695;
        font-size: 29px;
        width: 94%;
        height: 6vw;
    }
}


.sectionPorqueDoar{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    section{
        background-color: #0157944D;
        border-radius: 6px;
        height: 51vh;
        width: 21vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        p{
            width: 14vw;
            height: 19vh;
            font-size: 20px;
            text-align: center;
        }
    }
}

@media(max-width: 780px){

    .primeiraSectionInicio{
        background-position: center;
        justify-content: center;
        height: 50vh;

        h2{
            width: 75%;
            font-size: 28px;
            text-align: center;
            padding-left: 0%;
        }
    }

    .porqueDoarDiv{
        height: 135vh;

        h2{
            height: 9vh;
            font-size: 30px;
            text-align: center;
        }

        .sectionPorqueDoar{
            height: 110vh;
            align-items: center;
            flex-direction: column;

            section{
                justify-content: space-evenly;
                align-items: center;
                border-radius: 12px;
                height: 25vh;
                width: 75%;

                img{
                    width: 19%;
                }

                p{
                    height: 11vh;
                    width: 95%;
                    font-size: 18px;
                    
                }
            }
        }
    }
}