.header{
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoheader{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img{
        height: 7vh;
        padding-bottom: 8px;
    }

    h1{
        font-size: 25px;
        color: white;
    }

}

.navheader{
    width: 30%;
    ul{
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .headerlink{
        color: white;
        font-size: 18px;
    }
}

.BarraDeBusca{
    width: 15%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;

    input{
        background-color: transparent;
        border: none;
        width: 73%;
        
        &::placeholder{
            color: white;
            font-size: 16px;
        }
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;

        img{
            height: 2vh;
        }
    }

}

@media(max-width: 780px){

    .BarraDeBusca{
        display: none;
    }

    .header{
        height: 17vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logoheader{
        width: 67vw;
        justify-content: space-around;
        
        img{
            height: 40px;
        }

        h1{
            font-size: 23px;
        }
    }

    .navheader{
        width: 95%;

        .headerlink{
            font-size: 20px;
        }
    }
}
